.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    
.main-description{
    font: optional;
    color: navy;
    background-color: null;
}
/*Head Elements done*/


/*Body Elements from here*/
